@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");



*{
    margin: 0;
    box-sizing: border-box;
}




body{
    font-family: "Red Hat Display", sans-serif;
    min-height: 600px;
    padding: 80px 0;
    background-color: #c3c8ff;
    background-repeat: no-repeat;
    display: flex;
}

.main{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.472), rgba(255, 255, 255, 0.365));
    overflow: hidden;
    padding: .7em;
    border-radius: 1em;

    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
    gap: .6em;

    animation: mostrar 1.5s ease-in-out;
}

@keyframes mostrar {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

.main__figure{
    overflow: hidden;
    border-radius: 1em;
    background-color: #ffffff;
    display: flex;
}

.main__img{
    margin: auto;
    width: 80%;
    max-width: 60vw;
}

.main__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    padding: 3em .7em;
    text-align: center;
    place-content: center;

}

.main__form{
    display: grid;
    justify-items: center;
    gap: 1.5em;
}

.main__input{
    width: 55%;
    max-width: 500px;
    outline: none;
    border: none;
    /* padding: 1em; */
    font: inherit;
    border-radius: .6em;
    display: flex;
    justify-content: center;
    

}

.cont{
    width: 80%;
    /* place-content: center; */
    margin: auto 10% 5%;

}

.container-image{
    display: flex;
    justify-content: center;

    width: 100%;
    position: relative;
    grid-template-columns: 1fr 1;
    justify-content: center;
    place-self: center;
    
}

.main__input--send{
    background-color: rgba(106,118,254,255);
    color: #fff;
    font-weight: 600;
    text-align: center;
    align-items: center;

}

.ImgBoton{
    /* display: grid; */

    height: 50px;
    width: 50px;
    /* margin: top 0; */
    /* margin-bottom: ; */
    /* margin-left: 0; */
    margin-right: 35px;
    position: inherit;

}
.d-flex{
    display: flex;
}

.main__title{
    font-size: 2.3rem;
    color: rgba(35,47,59,255);
}

.main__paragraph{
    margin: .3em 0;
    color: #6D6DC9;
    
}



 /*    °°° FONDO °°°      */

 svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .container2 {
    display: inline-block;
    /* position: absolute; */
    width: 100%;
    padding-bottom: 100%;
    vertical-align: middle;
    overflow: hidden;
    top: 0;
    left: 0;
  }
  body {
    overflow: hidden;
  }
  
  /*  sacado de:
  https://barcelonageeks.com/como-crear-una-imagen-de-onda-para-un-fondo-usando-html-y-css/ */




.column-image{
    position: relative;
    justify-content: 0;
}