@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

body {
  font-family: "Red Hat Display", sans-serif;
  justify-content: center;
  align-items: center;
}

.general {
  background: url("/images/pattern-background-desktop.svg");
  background-position: top;
  background-color: hsl(225, 100%, 94%);
  background-repeat: no-repeat;
}

.col-center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  text-align: center;
}

.card {
  border-radius: 30px;
  margin-top: 5%;
  margin-bottom: 10%;
  width: min-content;
}

.description {
  width: 70% !important;
  color: hsl(224, 23%, 55%);
}

.plan {
  padding: 5%;
  border-radius: 15px;
  background-color: hsl(225, 100%, 98%);
  margin-bottom: 7%;
}

.photo {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.plan-title {
  font-weight: 900;
}

.plan-price {
  color: hsl(224, 23%, 55%);
}

.plan-change {
  color: hsl(245, 75%, 52%);
  text-decoration: underline;
  font-weight: 900;
}

a.plan-change:hover {
  color: #857fe0;
  text-decoration: none;
}

button:focus {
  border: none;
  outline: none;
}

button {
  border-radius: 15px;
  font-family: "Red Hat Display", sans-serif;
  font-weight: 700;
  border: none;
}

.agree-button {
  width: 79%;
  padding: 3%;
  box-shadow: 1px 5px 15px hsl(224, 23%, 55%);
  background-color: hsl(245, 75%, 52%);
  color: white;
  margin-bottom: 7%;
}

button.agree-button:hover {
  background-color: #766cf1;
  color: white;
}

button.disagree-button:hover {
  color: hsl(223, 47%, 23%);
}

.disagree-button {
  width: 60%;
  padding: 2%;
  background-color: white;
  color: hsl(224, 23%, 55%);
}

.title {
  font-size: 28px;
  font-weight: 900;
  padding: 5% 0% 2% 0%;
}

.attribution {
  padding: 4%;
}

@media screen and (max-width: 375px) {
  .description {
    width: 80% !important;
    color: hsl(224, 23%, 55%);
  }

  .general {
    background: url("/images/pattern-background-mobile.svg");
    background-position: top;
    background-color: hsl(225, 100%, 94%);
    background-repeat: no-repeat;
  }

  .agree-button {
    width: 93%;
    padding: 3%;
    box-shadow: 1px 5px 15px hsl(224, 23%, 55%);
    background-color: hsl(245, 75%, 52%);
    color: white;
    margin-bottom: 7%;
  }

  .card {
    border-radius: 30px;
    margin-top: 20%;
    margin-bottom: 10%;
    width: min-content;
  }

  .photo {
    width: 350px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
}
